<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MantenerPerfilesMod</servlet-name>
        <servlet-class>Modelos.MantenerPerfilesMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaMod</servlet-name>
        <servlet-class>Modelos.CajaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargoMod</servlet-name>
        <servlet-class>Modelos.cargoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaMod</servlet-name>
        <servlet-class>Modelos.CategoriaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadMod</servlet-name>
        <servlet-class>Modelos.CiudadMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CondicionVentaMod</servlet-name>
        <servlet-class>Modelos.CondicionVentaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaMod</servlet-name>
        <servlet-class>Modelos.MarcaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NacionalidadMod</servlet-name>
        <servlet-class>Modelos.NacionalidadMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoDocumentoMod</servlet-name>
        <servlet-class>Modelos.TipoDocumentoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucursalMod</servlet-name>
        <servlet-class>Modelos.SucursalMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoMod</servlet-name>
        <servlet-class>Modelos.EmpleadoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioMod</servlet-name>
        <servlet-class>Modelos.UsuarioMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteMod</servlet-name>
        <servlet-class>Modelos.ClienteMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaCobrarMod</servlet-name>
        <servlet-class>Modelos.CuentaCobrarMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaMod</servlet-name>
        <servlet-class>Modelos.VentaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoMod</servlet-name>
        <servlet-class>Modelos.ProductoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>permisosUsuariosMod</servlet-name>
        <servlet-class>Modelos.permisosUsuariosMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AperturaCierreMod</servlet-name>
        <servlet-class>Modelos.AperturaCierreMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistenciaMod</servlet-name>
        <servlet-class>Modelos.ExistenciaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPresupuestoMod</servlet-name>
        <servlet-class>Modelos.GenerarPresupuestoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generar_PedidoMod</servlet-name>
        <servlet-class>Modelos.Generar_PedidoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesMod</servlet-name>
        <servlet-class>Modelos.ReportesMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositoMod</servlet-name>
        <servlet-class>Modelos.DepositoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarAyuda</servlet-name>
        <servlet-class>Modelos.MostrarAyuda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes1</servlet-name>
        <servlet-class>Modelos.Reportes1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes2</servlet-name>
        <servlet-class>Modelos.Reportes2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MantenerPerfilesMod</servlet-name>
        <url-pattern>/MantenerPerfilesMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaMod</servlet-name>
        <url-pattern>/CajaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargoMod</servlet-name>
        <url-pattern>/cargoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaMod</servlet-name>
        <url-pattern>/CategoriaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadMod</servlet-name>
        <url-pattern>/CiudadMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CondicionVentaMod</servlet-name>
        <url-pattern>/CondicionVentaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaMod</servlet-name>
        <url-pattern>/MarcaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NacionalidadMod</servlet-name>
        <url-pattern>/NacionalidadMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoDocumentoMod</servlet-name>
        <url-pattern>/TipoDocumentoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucursalMod</servlet-name>
        <url-pattern>/SucursalMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoMod</servlet-name>
        <url-pattern>/EmpleadoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioMod</servlet-name>
        <url-pattern>/UsuarioMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteMod</servlet-name>
        <url-pattern>/ClienteMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaCobrarMod</servlet-name>
        <url-pattern>/CuentaCobrarMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaMod</servlet-name>
        <url-pattern>/VentaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoMod</servlet-name>
        <url-pattern>/ProductoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>permisosUsuariosMod</servlet-name>
        <url-pattern>/permisosUsuariosMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AperturaCierreMod</servlet-name>
        <url-pattern>/AperturaCierreMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistenciaMod</servlet-name>
        <url-pattern>/ExistenciaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPresupuestoMod</servlet-name>
        <url-pattern>/GenerarPresupuestoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generar_PedidoMod</servlet-name>
        <url-pattern>/Generar_PedidoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesMod</servlet-name>
        <url-pattern>/ReportesMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositoMod</servlet-name>
        <url-pattern>/DepositoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarAyuda</servlet-name>
        <url-pattern>/MostrarAyuda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes1</servlet-name>
        <url-pattern>/Reportes1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes2</servlet-name>
        <url-pattern>/Reportes2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
